@model List<string>

@{
    ViewData["Title"] = "PROJECTS";
}

<div class="container my-3 about-us-container">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="font-weight-bold mb-4 name animated-drop">PROJECTS</h1>
            </div>

            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                    <div class="project-card shadow-box text-center">
                        <div class="image-container-projects">
                            <img src="~/assets/Projects_Images/@Model[i]" alt="Project Image" class="img-fluid project-image">
                        </div>
                        <h5 class="mt-3 project-title">Project Title</h5>
                        <p class="project-description">Short description about the project goes here. Highlight features or achievements.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
