@{
    ViewData["Title"] = "Reservation";
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="font-weight-bold mb-4">Welcome to Our Hotel!</h1>
            <p class="fs-5">
                FRANK HOTEL accepts reservations up to two months in advance to the calendar date.

                To reserve a table, please call <b>415.981.0983</b>

                Online reservations are   <b>
                    30 days in advance only.</b>
                <b>
                    Make an online reservation through OpenTable </b>

                We do not take reservations via email.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="content-container row g-0">
            <div class="col-md-6 text-center">
                <div class="description slide-in-left text-center">
                    <h2 class="text-center font-weight-bold mb-4">Hours of Reservation</h2>
                    <h2 class="text-center font-weight-bold mb-4">Lunch</h2>
                    <p class="name text-center fs-5">Mon-Fri 11:30am to 2:30pm</p>
                    <hr />
                    <h2 class="text-center font-weight-bold mb-4">Dinner</h2>
                    <p class="name text-center fs-5">Monday-Sunday 5:00pm – 10:00pm</p>
                    <hr />
                    <h2 class="text-center font-weight-bold mb-4">Corkage</h2>
                    <p class="name text-center fs-5">$40 per 750ml bottle for up to 2 bottles, $60 per additional bottle</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="image-container slide-in-right">
                    <img src="~/assets/reservation_images/reservation_image.jpg" alt="reservation" class="img-fluid w-90">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 slide-in-left">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold mb-4">Find Us Here</h1>
            <div id="map"></div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxtTPdJqQMOwjsbKBO3adqPGzBR1MgC5g"></script>

<script>
    function initMap() {
        var restaurantLocation = { lat: -37.8172099, lng: 144.9537353 }; 

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: restaurantLocation
        });

        var marker = new google.maps.Marker({
            position: restaurantLocation,
            map: map,
            title: 'Our Restaurant!'
        });

        var infoWindow = new google.maps.InfoWindow({
            content: '<h4>Welcome to Our Hotel!</h4><p>We are excited to serve you.</p>'
        });

        infoWindow.open(map, marker);
    }

    window.onload = initMap;
</script>