@model List<AboutUsDataModel>

@{
    ViewData["Title"] = "About Actech";
}


<div class="container my-3 about-us-container">
    <div class="content-container row g-0">
        <div class="col-md-6">
            <div class="image-container slide-in-left">
                <img src="~/assets/about_images/vision_mission.png" draggable="false" alt="" class="img-fluid w-90">
            </div>
        </div>
        <div class="col-md-6">
            <div class="description slide-in-right">
                <h1 class="name">VISION</h1>
                <p class="position"></p>
                <p>
                    We are committed to becoming one of the most preferred electrical contractors, recognize in the industry as a dedicated, dependable, customer-oriented organization delivering the highest level of quality service.
                </p>

                <hr />
                <h1 class="name">MISSION</h1>
                <p class="position"></p>
                <p>
                    To maintain the highest level of professionalism, integrity, honesty and fairness in our relationships with customers, suppliers, subcontractors, and fellow professional associates.
                </p>

                <p>
                    To continuously develop our competence in skills and capabilities, proficiency in technical and business knowledge, and expertise in project management.
                </p>

                <p>
                    To cultivate knowledgeable, disciplined, work-loving, goal-oriented, pro-active and fulfilled employees with passion to deliver achievements and successful projects.
                </p>

                <p>
                    To enhance our business impact thru accreditations and certifications from local, national and internationally-recognized certifying bodies and organizations.
                </p>

                <p>
                    To passionately extend efforts and services to the community and be an instrument in protecting and safeguarding our nature.
                </p>
            </div>
        </div>
    </div>
    <hr />

    <div class="content-container row g-0">
        <div class="col-md-12">
            <div class="description slide-in-right">
                <h1 class="name text-center">OUR PURPOSE</h1>
                <p class="position"></p>
                <p>
                    AC Technical Services, Inc. was conceived to serve  the needs of  commercial and utility firms for a reliable contractor who can best attend to their requirements.
                    By providing highly skilled team of engineers - electrical, civil and/or mechanical with extensive exposure in the areas of installation, project management, electrical design, fabrication of electrical equipment, start-up and servicing.
                    By providing technical expertise in the installation, commissioning and after sales of all its products.
                    By providing known and quality products and engineering services at a reasonable price.
                    By providing in-depth technical assistance in the choice of alternative electrical equipment to suit their specific requirements.
                </p>

            </div>
        </div>
    </div>

    <div class="content-container row g-0">
        <div class="col-md-12">
            <div class="description slide-in-left">
                <h1 class="name text-center">
                    OUR DIFFERENCES
                </h1>
                <h1 class="position fw-bold text-center">
                    EXPERT
                </h1>
                <p class="text-center">
                    We have a background of over 40 years of providing excellent electrical contracting engineering services throughout the Philippines. Our capability keeps getting better through the years!
                </p>

                <h1 class="position text-center fw-bold">
                    RELIABLE
                </h1>
                <p class="text-center ">
                    We provide excellent services that are not only exceptional, but outright reliable.  We are staffed with a skillful workforce and we guarantee our client’s satisfaction!
                </p>

                <h1 class="position">
                    VALUE
                </h1>
                <p class="text-center">
                    We have the expertise to meet your needs and add value to our services.
                </p>
            </div>
        </div>
    </div>

    <hr />

    <div class="content-container row g-0 milestone-container">
        <div class="col-md-12">
            <div class="description slide-in-right">
                <h1 class="name text-center">
                    COMPANY HISTORY
                </h1>

                <h1 class="position fw-bold">
                    2016
                </h1>
                <p class="text-center">
                    On 2016, the Chairman, Engr. Alfredo R. Cacanando appointed Mr. Alfredo I. Cacanando, Jr. to be the next President of AC Technical Services, Inc.
                </p>

                <h1 class="position fw-bold">
                    1991
                </h1>
                <p class="text-center">
                    After the Mt. Pinatubo eruption in June 1991, the US military bases located in that area was greatly damaged by "lahar" which forced the US military bases to abandon their military facilities. On the same year, the military agreement between the Philippine and United States was completed which necessitated the company to engage in projects outside the US bases.
                </p>

                <h1 class="position fw-bold">
                    1983
                </h1>
                <p class="text-center">
                    Early part of 1983, AC Technical Services Inc. have concentrated its electrical construction services and trading activities to serve construction requirements at U.S. military facilities in Clark Air Base, Subic Naval Base, Cubi Air Station, John Hay Air Station in Baguio City and Wallace Air Station in San Fernando, La Union.
                </p>

                <h1 class="position fw-bold">
                    1981
                </h1>
                <p class="text-center">
                    On January 1981, the construction activities of AC Technical Services, Inc. is supported by a fabrication and assembly shop has been built and established at R.M. Tiosejo Industrial Subdivision along Tunasan, Muntinlupa, Metro Manila. The shop serves other contractors, customers, electrical supply houses, industrial plants and utility companies.
                </p>

                <h1 class="position fw-bold">
                    1978
                </h1>
                <p class="text-center">
                    On February 14, 1978, AC Technical Services, Inc. is principally classified under Category "A" as specialty electrical contractor with other classification as general engineering contractor, duly accredited by the Philippine Contractor's Accreditation Board (PCAB) with Contractor License No. 3926 under provisions of Republic Act No. 4566.
                </p>

                <h1 class="position fw-bold">
                    1977
                </h1>
                <p class="text-center">
                    On August 11, 1977, AC Technical Services Inc. has been duly organized and existed under the laws of Republic of the Philippines. It was incorporated and registered with the Securities and Exchange Commission under Registry No. 75039.
                </p>

                <h1 class="position fw-bold">
                    1971
                </h1>
                <p class="text-center">
                    AC Engineering Enterprises, a single proprietorship principally engaged in electrical contracting services was established by Engr. Alfredo R. Cacanando who also became its president and general manager with the full support of his wife Ms. Clarita I. Cacanando in all aspect of HR / Administration function, Purchasing, Logistics and other duties and now as a Corporate Secretary of the company.
                </p>

            </div>
        </div>
    </div>

    <hr />
    <div class="content-container row g-0 milestone-container">
        <div class="col-md-12">
            <div class="description slide-in-right">
                <h1 class="name text-center">
                    COMPANY MILESTONE
                </h1>
                <h1 class="position fw-bold">
                    2024
                </h1>
                <p class="text-center">
                    This year, AC Technical Services, Inc. received approval from PCAB as an AAA Licensed company.
                </p>

                <h1 class="position fw-bold">
                    2023
                </h1>
                <p class="text-center">
                    This year, AC Technical Services, Inc. achieved a spot in the top 300 Best Employers list by the Philippine Daily Inquirer in collaboration with STATISTA. Visit <a href="https://inqm.news/szaq" target="_blank">the link for more information</a>.
                </p>

                <h1 class="position fw-bold">
                    2022
                </h1>
                <p class="text-center">
                    At this year, AC Technical Services, Inc. reached the highest gross income after more than 4 decades in the business, amounting to 1.5 Billion pesos.
                </p>

            </div>
        </div>
    </div>
    <hr />
   
    <div class="container text-center">
        <h1 class="name text-center mb-4">CORPORATE OFFICERS</h1>

        <div class="row justify-content-center gap-3">
            <!-- CEO -->
            <div class="col-12 col-md-8 col-lg-6 p-3 border rounded shadow mb-4">
                <p class="position text-uppercase mb-1">Chairman of the Board and CEO</p>
                <p class="fw-bold mb-0">ENGR. ALFREDO R. CACANANDO</p>
            </div>
        </div>

        <!-- President & Treasurer -->
        <div class="row justify-content-center mt-4 gap-3">
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 p-3 border rounded shadow mb-4">
                <p class="position text-uppercase mb-1">President</p>
                <p class="fw-bold mb-0">ALFREDO I. CACANANDO, JR.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 p-3 border rounded shadow mb-4">
                <p class="position text-uppercase mb-1">Treasurer and Corporate Secretary</p>
                <p class="fw-bold mb-0">CLARITA I. CACANANDO</p>
            </div>
        </div>

        <!-- VP Finance -->
        <div class="row justify-content-center mt-4 gap-3">
            <div class="col-12 col-md-8 col-lg-6 p-3 border rounded shadow mb-4">
                <p class="position text-uppercase mb-1">VP Finance</p>
                <p class="fw-bold mb-0">CARMELA C. BARCELONA, CPA</p>
            </div>
        </div>

        <!-- VP Sales & Engineering -->
        <div class="row justify-content-center mt-4 gap-3">
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 p-3 border rounded shadow mb-4">
                <p class="position text-uppercase mb-1">VP Sales & Operations</p>
                <p class="fw-bold mb-0">ENGR. JAIME J. ELEAZAR</p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 p-3 border rounded shadow mb-4">
                <p class="position text-uppercase mb-1">VP Engineering</p>
                <p class="fw-bold mb-0">ENGR. ALLAN N. PUEBLA</p>
            </div>
        </div>

        <!-- Electrical Consultant -->
        <div class="row justify-content-center mt-4 gap-3">
            <div class="col-12 col-md-8 col-lg-6 p-3 border rounded shadow mb-4">
                <p class="position text-uppercase mb-1">Electrical Consultant</p>
                <p class="fw-bold mb-0">ENGR. PEDRO L. CUEVAS</p>
            </div>
        </div>
    </div>


    <hr />
    <div class="content-container row g-0">
        <div class="col-md-12 text-center">
            <h1 class="name mb-4">Certificate of Recognition</h1>
            <img src="~/assets/About_Images//certificate.png"
                 draggable="false"
                 alt="Certificate of Recognition"
                 class="img-fluid clickable-image slide-in-right"
                 style="max-height: 500px; cursor: pointer;"
                 data-bs-toggle="modal"
                 data-bs-target="#certificateModal">
            <p class="mt-3 slide-in-left">
                This certificate is proudly presented to AC Technical Services for being recognized as one of the Philippines' Best Employers of 2023.
            </p>
        </div>
    </div>

    <hr />
    <div class="content-container row g-0">
        <div class="col-md-12 text-center">
            <h1 class="name mb-4">PCAB LICENSE</h1>
            <img src="~/assets/About_Images/PCAB.jpg"
                 draggable="false"
                 alt="PCAB LICENSE"
                 class="img-fluid clickable-image slide-in-right"
                 style="max-height: 500px; cursor: pointer;"
                 data-bs-toggle="modal"
                 data-bs-target="#PCABModal">
            <p class="mt-3 slide-in-left">
                AC TECHNICAL SERVICES, INC.
                having complied with all the requirements for licensure
                pursuant to Republic Act No. 4566 (as amended) and
                its implementing rules and regulations, is hereby
                authorized to engage in the construction contracting
                business in the Philippines.
            </p>
        </div>
    </div>
    <hr />
    <div class="content-container row g-0">
        <div class="col-md-12 text-center mb-3">
            <div class="description slide-in-right">
                <h1 class="name text-center">ACCREDITED BY</h1>
            </div>
        </div>

        <div id="accreditedByCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex" id="carouselImages">
                        <div class="carousel-image-container">
                            <img src="~/assets/about_images/dole.jpg" draggable="false" alt="DOLE" class="carousel-image" style="max-height: 160px;">
                        </div>
                        <div class="carousel-image-container">
                            <img src="~/assets/about_images/brad.jpg" draggable="false" alt="BRAD" class="carousel-image" style="max-height: 160px;">
                        </div>
                        <div class="carousel-image-container">
                            <img src="~/assets/about_images/green.jpg" draggable="false" alt="GREEN" class="carousel-image" style="max-height: 160px;">
                        </div>
                        <div class="carousel-image-container">
                            <img src="~/assets/about_images/meralco.jpg" draggable="false" alt="MERALCO" class="carousel-image" style="max-height: 160px;">
                        </div>
                        <div class="carousel-image-container">
                            <img src="~/assets/about_images/contractors.jpg" draggable="false" alt="CONTRACTORS" class="carousel-image" style="max-height: 160px;">
                        </div>
                        <div class="carousel-image-container">
                            <img src="~/assets/about_images/philgeps.jpg" draggable="false" alt="PHILGEPS" class="carousel-image" style="max-height: 160px;">
                        </div>
                        <div class="carousel-image-container">
                            <img src="~/assets/about_images/PCA.jpg" alt="PCA" draggable="false" class="carousel-image" style="max-height: 160px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#accreditedByCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#accreditedByCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="certificateModal" tabindex="-1" aria-labelledby="certificateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModalLabel">Certificate of Recognition</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/assets/About_Images/certificate.png"
                     alt="Certificate of Recognition"
                     class="img-fluid mb-3" draggable="false">
                <p>
                    This certificate is proudly presented to AC Technical Services for being recognized as one of the Philippines' Best Employers of 2023.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PCABModal" tabindex="-1" aria-labelledby="PCABModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModalLabel">PCAB LICENSE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/assets/About_Images/PCAB.jpg"
                     alt="Certificate of Recognition"
                     class="img-fluid mb-3" draggable="false">
                <p>
                    AC TECHNICAL SERVICES, INC.
                    having complied with all the requirements for licensure
                    pursuant to Republic Act No. 4566 (as amended) and
                    its implementing rules and regulations, is hereby
                    authorized to engage in the construction contracting
                    business in the Philippines.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Custom CSS for Image Resizing and Side-by-Side Layout -->
<style>
    /* Carousel inner styling */
    .carousel-inner {
        width: 100%;
        overflow: hidden;
    }

    /* Horizontal scroll wrapper for images */
    #carouselImages {
        display: flex;
        gap: 50px;
        transition: transform 1s ease-in-out; /* Smooth scrolling */
    }

    /* Image container style for side-by-side layout */
    .carousel-image-container {
        flex: 0 0 auto;
    }

    /* Styling the images */
    .carousel-image {
        width: 160px; /* Set a fixed width for images */
        height: 160px;
        object-fit: cover;
    }

    /* Optional: Hide carousel control buttons */
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
</style>

<script>
    let currentOffset = 0;
    const imageWidth = document.querySelector('.carousel-image').offsetWidth + 15; // Account for gap
    const images = document.querySelectorAll('.carousel-image');
    const totalImages = images.length;
    const carouselImages = document.getElementById('carouselImages');

    // Clone the images to create infinite scrolling
    const cloneImages = () => {
        const firstSet = document.querySelectorAll('.carousel-image-container');
        firstSet.forEach(image => {
            const clone = image.cloneNode(true);
            carouselImages.appendChild(clone); // Append the cloned images to the end
        });
    };

    // Function to move the carousel images
    const moveCarousel = () => {
        currentOffset += imageWidth;

        // If all images have moved offscreen, reset position and continue sliding
        if (currentOffset >= imageWidth * totalImages) {
            currentOffset -= imageWidth * totalImages;
        }

        carouselImages.style.transform = `translateX(-${currentOffset}px)`; // Move the images left
    };

    // Initialize the cloning of images
    cloneImages();

    // Auto-slide carousel images every 1.5 seconds
    let slideInterval = setInterval(moveCarousel, 1500); // Slide every 1.5 seconds

    // Optionally, handle mouse hover event to pause the sliding
    const carouselContainer = document.getElementById('accreditedByCarousel');
    carouselContainer.addEventListener('mouseenter', () => {
        clearInterval(slideInterval); // Stop the sliding when mouse enters
    });

    carouselContainer.addEventListener('mouseleave', () => {
        slideInterval = setInterval(moveCarousel, 1500); // Restart the sliding when mouse leaves
    });


    document.addEventListener("DOMContentLoaded", () => {
        const modal = document.getElementById("PCABModal");
        const modalCertificate = document.getElementById("certificateModal");

        modal.addEventListener("show.bs.modal", () => {
            modal.classList.add("swoop-in");
        });

        modal.addEventListener("hidden.bs.modal", () => {
            modal.classList.remove("swoop-in");
        });

        modalCertificate.addEventListener("show.bs.modal", () => {
            modalCertificate.classList.add("swoop-in");
        });

        modalCertificate.addEventListener("hidden.bs.modal", () => {
            modalCertificate.classList.remove("swoop-in");
        });
    });
</script>