@model List<string>

@{
    ViewData["Title"] = "AcTech Projects";
}

<div class="container my-3 about-us-container">
    <div class="container mt-5 mb-5">
        <div class="row">

          @*   @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                    <div class="project-card shadow-box text-center">
                        <div class="image-container-projects">
                            <img src="~/assets/Projects_Images/@Model[i]" alt="Project Image" class="img-fluid project-image">
                        </div>
                        <h5 class="mt-3 project-title">Project Title</h5>
                        <p class="project-description address">Short description about the project goes here. Highlight features or achievements.</p>
                    </div>
                </div>
            } *@

            <div class="col-md-12">
                <h1 class="font-weight-bold mb-4 project-scope animated-drop">Electrical Works</h1>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/allegro.png.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Allegro Microsystems Philippines Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>4756 Sampaguita St. Marimar Village Brgy, SunValley Paranaque City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a> SLM for the installation of complete power supply, networks for overhead gutters based on layout and lightings FDAS paging network camera and common areas at 2nd floor</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/empire east land and holding.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Empire East Land Holdings Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Newport City, Villamor Air Base, Pasay City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Remington Hotel</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/epldt.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">EPLDT</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Vitro Makati2, 222 Nicanor Garcia St. Brgy. Bel-Air, Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>VM2 5F Expansion(Module 1,2,3) - Electrical Works</p>

                    <hr />
                    <p class="project-description address"><a class="project-address">Project Location: </a>Vitro Makati2, 222 Nicanor Garcia St. Brgy. Bel-Air, Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>VM2 4F Expansion - Local Electrical Works</p>

                    <hr />

                    <p class="project-description address"><a class="project-address">Project Location: </a>Guadalupe Cebu, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Cebu Data Center Phase 2</p>

                    <hr />

                    <p class="project-description address"><a class="project-address">Project Location: </a>Elorde Compound, Dr. A. Santos Ave.,Sucat Paranaque, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Rack IT, Data Center Phase 3 and 4</p>

                    <hr />

                    <p class="project-description address"><a class="project-address">Project Location: </a>Nicanor Garcia St. Brgy. Bel Air, Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Makati Data Center Project</p>

                    <hr />


                    <p class="project-description address"><a class="project-address">Project Location: </a>ELPDT Clarktel Bldg,5656 Cor. N. Aquino Ave. &Aacute; Pres. M. Roxas Highway, Clark Pampanga</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Cebu Data Center Project</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/arthaland.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Arthaland Corporation / DDT Konstract</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Salinas Drive, Brgy. Lahug, Cebu, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Cebu Exchange Project - CP - 26: Supply and Installation of Power Transformers</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/torre.png" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Tore Lorenzo Development Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Atlamirano, Lipa, Batangas</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Tiera Lorenzo Lipa</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/FEU.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Tore Lorenzo Development Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Lerma St. Sampaloc, Manila</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>FEU Lerma 8-Storey School Building</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/alphaland.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Alphaland Development Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Ayala Ave. Extension corner Malugay St., Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Alphaland Makati Place</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*   <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/allegro.png.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">New Pacific Resources Management Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Arnaiz Avenue Cor. Chino Roces Ave. Pasong Tamo, Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a> The Beacon Phase 2</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*   <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/empire east land and holding.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Real Property Solutions</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>5th Ave. Bonifacio Global City, Taguig</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Electrical Works Package for World Plaza</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*   <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/allegro.png.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">DM Consunji Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Galardo and Legaspi Sts. Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Makati Diamond Residences</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @* <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/hil" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Hilmarc's Contstruction Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>New Clark City Capas, Tarlac</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>NGCP Design, Construction and Commissioning of the Aquatic Center Structure and FINA certified swimmming pools and facilities</p>

                    <hr />

                    <p class="project-description address"><a class="project-address">Project Location: </a>Navy Villar Fort Bonifacio Taguig, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Supply and Installation of Electrical Works for the construction of the New Senate Building</p>

                </div>
            </div>

            <hr />
            <div class="col-md-12">
                <h1 class="font-weight-bold mb-4 project-scope animated-drop">Electrical and Auxilliary Works</h1>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/ccf.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Christ's Commission Foundation Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Frontera Verde Ortigas Avenue Corner C-5 Road, Pasig City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a> Proposed 21-Storey CCF School and Training Center</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/savya.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Savya Land Development Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Arca South Phase 3, Brgy. Western Bicutan Taguig City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a> CP-03: Electrical and Auxilliary Works for Savya Financial Center</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/genvi.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Monterrazas de Cebu Prime 2</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Guadalupe Cebu, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a> Electrical underground distribution and auxilliary system(rough ng-ins)</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/rockwell.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Rockwell Land Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>W. Capitol Drive Pasig, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>The Vantage at Kapitolyo</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/cdci.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">The Cathay Drug Company Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>0130 Governors Drive Brgy Sabang Naic Cavite</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>YSS Laboratories Penicillin Building Package</p>

                    <hr />
                    <p class="project-description address"><a class="project-address">Project Location: </a>0130 Governors Drive Brgy Sabang Naic Cavite</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Proposed YSS Laboratories Co. Inc. Package No. 1 and 2</p>

                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/aqua.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Aqua Boracay Beach Village Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Brgy. Balabag, Boracay Island, Akian</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Aqua Boracay Project</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/huawei.png" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Huawei Technologies Phils Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Sampaloc Manila</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Ultimate PLDT Sampaloc</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/genvi.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">8990 Holdings / Genvi Development Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Guadalupe Cebu, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Monterrazas de Cebu, Northridge Expansion 1</p>
                    <hr />
                    <p class="project-description address"><a class="project-address">Project Location: </a>Guadalupe Cebu, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Monterrazas de Cebu, Peak 3</p>

                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/allegro.png.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Messaland Development Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Sampaguita St. Marimar Village, Paranaque, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>AMPI Building 3 Expansion</p>

                    <hr />

                    <p class="project-description address"><a class="project-address">Project Location: </a>Sampaguita St. Marimar Village, Paranaque, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Allegro Probe Expansion</p>

                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/arthaland.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Arthaland Corporation/DDT Konstract</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Salinas Drive, Brgy. Lahug, Cebu, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Cebu Exchange Project - CP - 04: Electrical and FDAS works including Auxilliary System</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/alphaland.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Alphaland Development Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Ayala Avenue,Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Alphaland Makati Tower</p>
                </div>
            </div>

            
            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*  <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/rockwell.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Crescent Construction Serviecs Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Nasugbu, Batangas</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Kawayan Cove Residential Subdivision Phase 4-B Expansion</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*    <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/rockwell.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Rockwell Land Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Rockwell Center Makati City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Edades West Electrical Works</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*  <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/rockwell.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Kristong Hari Parish</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>NGC Commonwealth Avenue Quezon, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Kristong Hari Shrine for the Youth</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*  <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/rockwell.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Hilmarc's Construction Corp</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Clark Mabalacat City Pampanga</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Malolos Clark Railway Project - Electrical Works of Workshop Building</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*    <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/aqua.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Gotamco Realty Investment Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Ongpin Street, Binondo, Manila</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Anchor Skysuites</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*     <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/genvi.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Messaland Development Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Hacienda Sta Elena Santa Rosa Laguna</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Mesaland Underground Power Distribution Phase 3</p>
                </div>
            </div>

            <hr />

            <div class="col-md-12">
                <h1 class="font-weight-bold mb-4 project-scope animated-drop">Supply of Labor and Materials</h1>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/st francis - Copy.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">St Francis Square Development Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Julia Vargas, Ortigas Center, Pasig City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>BSA Twin Towers</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/aqua.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Aqua Boracay Beach Village Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Brgy, Balabag. Boracay Island, Aklan</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Aqua Boracay Project</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/arthaland.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Arthaland Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Lt 1, Blk 4 McKinley Parkway,Bonficaio Global City, Taguig </p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Arya Residences Tower 2 and Annex including Basement and Ground Floor</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    <div class="image-container-projects">
                        <img src="~/assets/Projects_Images/alphaland.jpg" alt="Project Image" class="img-fluid project-image">
                    </div>
                    <h2 class="mt-3 project-title">Alphaland Development Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Ayala Ave. Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Alphaland Makati Tower</p>
                </div>
            </div>

            <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="projectModalLabel">Project Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-center mb-4">
                                <img id="modalImage" src="" alt="Project Image" class="img-fluid rounded shadow" style="max-height: 300px;">
                            </div>
                            <h2 id="modalTitle" class="text-center"></h2>
                            <div id="modalDetails"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*   <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/hilma" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Hilmarc's Corporation</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Ortigas Ave.cor. C5 Road, Pasig, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>The Grove by Rockwell</p>

                    <hr />

                    <p class="project-description address"><a class="project-address">Project Location: </a>2205 Civic Drive Filinvest Corporate City, Alabang, Muntinlupa, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Asian Hospital Medical Center Phase 2</p>

                    <hr />

                    <p class="project-description address"><a class="project-address">Project Location: </a>Silang Cavite</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>FEU Silang Campus</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*    <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/aqua.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Mesaland Development Corp</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Sta. Rosa Laguna</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Underground Electrical Works for Hacienda Sta, Elena Power Distribution System Phase 1,2 and 3</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*    <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/aqua.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Angeles Beach Club Resorts Corp.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Malabanias, Angeles, City Pampanga</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>ABC 8-Storey Hotel with Basement and Roof Deck</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*   <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/arthaland.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">New Pacific Resources Management Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Arnaiz Ave. cor. Chino Roces Ave. Pasong Tamo, Makati, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>The Beacon Phase 2</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 animated-drop">
                <div class="project-card shadow-box text-center">
                    @*   <div class="image-container-projects">
                    <img src="~/assets/Projects_Images/arthaland.jpg" alt="Project Image" class="img-fluid project-image">
                    </div> *@
                    <h2 class="mt-3 project-title">Retailscapes Inc.</h2>
                    <p class="project-description address"><a class="project-address">Project Location: </a>Santolan Road, Little Baguio, San Juan, City</p>
                    <p class="project-description location"><a class="project-name">Project Name:</a>Electrical Works at Santolan Plaza</p>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const projectCards = document.querySelectorAll(".project-card");

        projectCards.forEach((card) => {
            card.addEventListener("click", () => {
                // Get project title
                const title = card.querySelector(".project-title").textContent;

                const imageSrc = card.querySelector("img.project-image")?.src || ""; // Use a fallback if no image is present

                // Get all address and name pairs
                const addresses = card.querySelectorAll(".project-description.address");
                const names = card.querySelectorAll(".project-description.location");

                // Ensure there is a one-to-one match for pairing
                const pairs = Array.from(addresses).map((address, index) => {
                    const locationText = address.querySelector(".project-address").nextSibling.textContent.trim();
                    const nameText = names[index].querySelector(".project-name").nextSibling.textContent.trim();
                    return { location: locationText, name: nameText };
                });

                // Set modal content
                document.getElementById("modalTitle").textContent = title;

                // Set modal image
                const modalImage = document.getElementById("modalImage");
                if (modalImage) {
                    modalImage.src = imageSrc;
                    modalImage.style.display = imageSrc ? "block" : "none"; // Hide image if no source is present
                }

                // Format and display pairs
                const modalDetails = document.getElementById("modalDetails");
                modalDetails.innerHTML = pairs
                    .map(
                        (pair) => `
                    <div class="mb-3">
                      <p><strong class='modal-project-location'>Project Location:</strong> ${pair.location}</p>
                          <p><strong class='modal-project-name'>Project Name:</strong> ${pair.name}</p>
                      <hr>
                    </div>
                  `
                    )
                    .join("");

                // Show modal
                const projectModal = new bootstrap.Modal(document.getElementById("projectModal"));
                projectModal.show();
            });
        });
    });


    document.addEventListener("DOMContentLoaded", () => {
        const modal = document.getElementById("projectModal");

        modal.addEventListener("show.bs.modal", () => {
            modal.classList.add("bounce-down-in");
        });

        modal.addEventListener("hidden.bs.modal", () => {
            modal.classList.remove("bounce-down-in");
        });
    });

</script>