
<footer class="footer text-white">
    <div class="container d-flex justify-content-center align-items-center py-3 nav-link-footer text-white">
        <div class="text-center mx-2 fs-5 text-white">
            &copy; @DateTime.Now.Year - AC TECHNICAL SERVICES, INC
        </div>
        <div class="mx-4">
            <a href="https://www.facebook.com/profile.php?id=61559213064474" class="btn btn-social fs-5" title="Facebook" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</footer>

<button type="button"
        class="btn btn-floating btn-lg"
        id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
