
<footer class="border-top footer text-muted">
    <div class="container d-flex justify-content-center align-items-center py-3 nav-link-footer">
        <div class="text-center mx-2">
            &copy; @DateTime.Now.Year - Frank_Website
        </div>
        <div class="mx-4">
            <a href="#" class="btn btn-social" title="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="btn btn-social" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>

<button type="button"
        class="btn btn-floating btn-lg"
        id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
