@{
    ViewData["Title"] = "Wine";
}

<div class="container mt-5 px-4">
    <h2 class="text-center font-weight-bold mb-4 text-decoration-underline fs-1 slide-in-left">Wine List</h2>
    <div class="row text-center">
        <!-- Row 1 -->
        <div class="col-md-6 slide-in-right">
            <h4 class="font-weight-bold fst-italic">White Wines</h4>
            <ul class="list-unstyled">
                <li>
                    <h5 class="font-weight-bold">
                        Wine Name 1 - <span class="text-muted font-weight-normal ms-2">$39.99</span>
                    </h5>
                    <p class="text-muted">Description of wine 1 goes here. Details about the wine.</p>
                </li>
                <li>
                    <h5 class="font-weight-bold">
                        Wine Name 2 - <span class="text-muted font-weight-normal ms-2">$45.99</span>
                    </h5>
                    <p class="text-muted">Description of wine 2 goes here. Details about the wine.</p>
                </li>
                <!-- Add more wines as needed -->
            </ul>
        </div>

        <div class="col-md-6 slide-in-right">
            <h4 class="font-weight-bold fst-italic">Red Wines</h4>
            <ul class="list-unstyled">
                <li>
                    <h5 class="font-weight-bold">
                        Wine Name 3 - <span class="text-muted font-weight-normal ms-2">$49.99</span>
                    </h5>
                    <p class="text-muted">Description of wine 3 goes here. Details about the wine.</p>
                </li>
                <li>
                    <h5 class="font-weight-bold">
                        Wine Name 4 - <span class="text-muted font-weight-normal ms-2">$54.99</span>
                    </h5>
                    <p class="text-muted">Description of wine 4 goes here. Details about the wine.</p>
                </li>
                <!-- Add more wines as needed -->
            </ul>
        </div>
    </div>

    <div class="row mt-4 text-center">
        <!-- Row 2 -->
        <div class="col-md-6 slide-in-right">
            <h4 class="font-weight-bold fst-italic">Sparkling Wines</h4>
            <ul class="list-unstyled">
                <li>
                    <h5 class="font-weight-bold">
                        Wine Name 5 - <span class="text-muted font-weight-normal ms-2">$59.99</span>
                    </h5>
                    <p class="text-muted">Description of wine 5 goes here. Details about the wine.</p>
                </li>
                <li>
                    <h5 class="font-weight-bold">
                        Wine Name 6 - <span class="text-muted font-weight-normal ms-2">$64.99</span>
                    </h5>
                    <p class="text-muted">Description of wine 6 goes here. Details about the wine.</p>
                </li>
                <!-- Add more wines as needed -->
            </ul>
        </div>

        <div class="col-md-6 slide-in-right">
            <h4 class="font-weight-bold fst-italic">Dessert Wines</h4>
            <ul class="list-unstyled">
                <li>
                    <h5 class="font-weight-bold">
                        Wine Name 7 - <span class="text-muted font-weight-normal ms-2">$69.99</span>
                    </h5>
                    <p class="text-muted">Description of wine 7 goes here. Details about the wine.</p>
                </li>
                <li>
                    <h5 class="font-weight-bold">
                        Wine Name 8 - <span class="text-muted font-weight-normal ms-2">$74.99</span>
                    </h5>
                    <p class="text-muted">Description of wine 8 goes here. Details about the wine.</p>
                </li>
                <!-- Add more wines as needed -->
            </ul>
        </div>
    </div>
</div>
