<footer class="footer text-white">
    <div class="container d-flex flex-wrap justify-content-center align-items-center py-3 nav-link-footer text-white">
        <div class="text-center mx-2 fs-5 text-white">
            &copy; @DateTime.Now.Year - AC TECHNICAL SERVICES, INC
        </div>
        <div class="mx-4 d-flex align-items-center text-white">
            <i class="fab fa-facebook-f me-2"></i>
            <a href="https://www.facebook.com/profile.php?id=61559213064474" class="text-white text-decoration-none fs-5" title="Facebook" target="_blank">
                AC Technical Services, Inc.
            </a>
        </div>
        <div class="mx-4 text-white d-flex align-items-center">
            <i class="fas fa-envelope me-2"></i>
            <a href="mailto:info@actech.com.ph" class="text-white text-decoration-none fs-5">info@actech.com.ph</a>
        </div>
        <div class="mx-4 text-white d-flex align-items-center">
            <i class="fas fa-phone-alt me-2"></i>
            <a href="tel:+639178642039" class="text-white text-decoration-none fs-5">0917 864 2039</a>
        </div>
    </div>
</footer>

<button type="button"
        class="btn btn-floating btn-lg"
        id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
