<footer class="footer text-white">
    <div class="container d-flex flex-wrap justify-content-center align-items-center py-3 nav-link-footer text-white">
        <!-- Dynamic Year in Footer -->
        <div class="text-center mx-4 fs-5 text-white">
            &copy; @DateTime.Now.Year - AC TECHNICAL SERVICES, INC
        </div>

        <!-- Email Section -->
        <div class="mx-4 text-white d-flex align-items-center">
            <i class="fas fa-envelope me-2"></i>
            <a href="mailto:info@actech.com.ph" class="text-white text-decoration-none fs-5">info@actech.com.ph</a>
        </div>

        <!-- Additional Phone Numbers -->
        <div class="mx-4 text-white d-flex align-items-center">
            <i class="fas fa-phone-alt me-2"></i>
            <div class="fs-5 d-flex">
                <a href="tel:+63288814563" class="text-white text-decoration-none mx-2 fs-5">(02) 8881-4563</a>
                <a href="tel:+63288814569" class="text-white text-decoration-none mx-2 fs-5">(02) 8881-4569</a>
                <a href="tel:+63288814582" class="text-white text-decoration-none mx-2 fs-5">(02) 8881-4582</a>
            </div>
        </div>
    </div>
</footer>


<button type="button"
        class="btn btn-floating btn-lg"
        id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
