<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACTECH - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/assets/shared/logo_2.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Frank_Website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <meta name="Description" content="AC Technical Services, Inc. was conceived to serve the needs of commercial and utility firms for a reliable contractor who can best attend to their requirements. By providing highly skilled team of engineers - electrical, civil and/or mechanical with extensive exposure in the areas of installation, project management, electrical design, fabrication of electrical equipment, start-up and servicing. By providing technical expertise in the installation, commissioning and after sales of all its products. By providing known and quality products and engineering services at a reasonable price. By providing in-depth technical assistance in the choice of alternative electrical equipment to suit their specific requirements." />
    <meta name="keywords" content="AC TECH PHILIPPINES, AC TECH, AC TECHNICAL, AC PHILIPPINES , actechnicalservicesinc.com.ph, actechnicalservicesinc, actechnicalservices, ac technical services, Alfredo R. Cacanando, Alfredo Cacanando, AlfredoCacanando, AlfredoR.Cacanando, Electrical Engineering Services, Fabricated and assembled equipment, trading and importer of equipment">
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>
    <div class="container mw-100">
        <main role="main" class="">
            <div id="globalLoader" style="display: flex; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 1050;">
                <div class="spinner"></div>
            </div>
            @RenderBody()
        </main>
        @await Html.PartialAsync("_Footer")
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
