@{
    ViewData["Title"] = "Services";
}

<div class="container my-3 about-us-container">

    <div class="content-container row g-0 justify-content-center">
        <div class="col-md-6">
            <div class="image-container slide-in-left">
                <img src="~/assets/services_images/electrical_image.jpg" alt="" class="img-fluid w-100">
            </div>
        </div>

        <div class="col-md-6">
            <div class="slide-in-left" style="padding-left:10px;">
                <p class="name text-uppercase">
                    Electrical Engineering Services
                </p>
                <p class="position"></p>
                <p>Installation of electrical system - Industrial/commercial/high rise buildings.</p>
                <p>Installation of distribution facilities - overhead and underground.</p>
                <p>Substation and switchyard packages.</p>
                <p>System Design Review.</p>
                <p>Servicing/Rehabilitation of Electrical/Electronic Equipment.</p>
                <p>Substation and switchyard packages.</p>

            </div>
        </div>
    </div>

    <hr />

    <div class="content-container row g-0 justify-content-center">
        <div class="col-md-6">
            <div class="slide-in-right">
                <p class="name text-uppercase">
                    Fabricated and Assembled Equipment
                </p>
                <p>Switchgears up to 35KV</p>
                <p>Motor Control Centers/Control Panel</p>
                <p>Distribution/Lighting Panels</p>
                <p>Meter Centers/Bus Gutters</p>
                <p>Wireways Cable Trays</p>
                <p>Automatic/Manual Transfer Switches</p>
                <p>Capacitor Banks</p>
                <p>Other Custom-Built/Special Engineered Products</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="image-container slide-in-right">
                <img src="~/assets/services_images/gears.jpg" alt="" class="img-fluid w-100">
            </div>
        </div>
    </div>

    <hr />

    <div class="content-container row g-0 justify-content-center">
        <div class="col-md-6">
            <div class="image-container slide-in-left">
                <img src="~/assets/services_images/electrical_image_3.jpg" alt="" class="img-fluid w-100">
            </div>
        </div>

        <div class="col-md-6">
            <div class="slide-in-left" style="padding-left:10px;">
                <p class="name text-uppercase">
                    Trading and importer of equipment
                </p>
                <p class="position"></p>
                <p>Installation of electrical system - Industrial/commercial/high rise buildings.</p>
                <p>Installation of distribution facilities - overhead and underground.</p>
                <p>Substation and switchyard packages.</p>
                <p>System Design Review.</p>
                <p>Servicing/Rehabilitation of Electrical/Electronic Equipment.</p>
                <p>Substation and switchyard packages.</p>

            </div>
        </div>
    </div>
</div>
