@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid p-0">
    <div class="banner-container position-relative">
        <img src="~/assets/homes_images/banner_image_background.jpg" alt="Banner Image" class="img-fluid w-100">
        <div class="banner-text position-absolute top-50 start-50 translate-middle text-center text-white">
            <h1 class="banner-title fade-in-left">Unwind in Luxury</h1>
            <p class="banner-description fade-in-left">Step into a world of tranquility and charm. Enjoy our premium amenities, unwind by the pool, and explore the vibrant local culture, all while basking in the warmth of exceptional hospitality.</p>
            <a class="btn learn-more-btn slide-in-up" asp-controller="About" asp-action="About">
                Learn More About Us >>
            </a>
        </div>
    </div>
</div>