@{
    ViewData["Title"] = "Private Dining";
}

<div class="container my-3 about-us-container">
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="font-weight-bold mb-4">Private Dining and Special Events</h1>
        </div>

        <div class="content-container row g-0">
            <div class="col-md-6">
                <div class="image-container slide-in-left">
                    <img src="~/assets/SpecialEvent_Images/chef-table.jpg" alt="chef-table" class="img-fluid w-90">
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="description slide-in-right">
                    <p class="name">Chef’s Table</p>
                    <p class="position"></p>
                    <p>
                        The focal point of the Kouzina is the Chef’s Table.  It is a beautiful 20 foot long hand-carved wooden table that can accommodate up to 20 people.  This space is ideal for celebrations, special family events and casual business functions that do not require a completely private space.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

 <hr/>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="content-container row g-0">
            <div class="col-md-6 text-center">
                <div class="description slide-in-right">
                    <p class="name">OENOS ROOM</p>
                    <p class="position"></p>
                    <p>
                        Adjacent to the Kouzina is the Oenos or “wine” room.  This is one of Kokkari’s two private dining rooms.  This room features large windows that look out on to Jackson Street and a dramatic wall of wine racks that spans floor to ceiling.  The large, wood-framed, sliding glass doors that separate the Oenos Room from the main dining area allow guests to feel part of the restaurant while still being in a private space.  This room can accommodate 30 people.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="image-container slide-in-left">
                    <img src="~/assets/SpecialEvent_Images/Kokkari_oenos-room.jpg" alt="oenos" class="img-fluid w-90">
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="content-container row g-0">
            <div class="col-md-6">
                <div class="image-container slide-in-left">
                    <img src="~/assets/SpecialEvent_Images/Kokkari_Hania-room.jpg" alt="hania" class="img-fluid w-90">
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="description slide-in-right">
                    <p class="name">HANIA</p>
                    <p class="position"></p>
                    <p>
                        This unique private dining room is located downstairs and is completely separate from the main dining area.  The room has the feel of a wine cellar with warm wood accents and rich, tapestry carpets.  It features a rectangular polished wood table that accommodates up to 10 people comfortably.  The Hania Room is ideal for small business meetings and intimate family functions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 slide-in-left">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="font-weight-bold mb-4">Further Group Dining Information</h1>
            <p class="fs-5">
                For group dining options, room minimums and availability, please contact our Event Manager, <b>Bibi Bahador.</b>
            </p>
            <p class="fs-5">
                <i class="fas fa-phone icon"></i>
                <span>Phone: 415.981.0983</span>
            </p>

            <p class="fs-5">
                <i class="fas fa-envelope icon"></i>
                <span>Email: <a href="">events@frankhotel.com</a></span>
            </p>
        </div>
    </div>
</div>
</div>